body {
  margin: 0;
  font-family: arial;
}

.header {
  background-color: orange;
  height: 100px;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
}

.container {
  margin-top: 100px;
}

.menu {
  background-color: lightblue;
  height: 1000px;
  width: 25%;
  float: left;
}

.main {
  background-color: yellow;
  height: 1000px;
  width: 75%;
  float: right;
}

.footer {
  background-color: violet;
  height: 100px;
  position: fixed;
  bottom: 0;
  right: 0;
  left: 0;
}
