body {
  margin: 0;
  font-family: arial;
}

.header {
  background-color: orange;
}

.container {
}

.menu {
  background-color: lightblue;
}

.main {
  background-color: yellow;
}

.footer {
  background-color: violet;
}
